<form [formGroup]="form" (ngSubmit)="onSubmit()" class="converter-container">
        <div class="amount-rate-container">
            <div class="input-container">
                <label for="amount">Amount</label>
                <input type="number" id="amount" name="amount" formControlName="amount"/>
                <!-- will add validation here -->
            </div>
            <div *ngIf="rates" class="conversion-rate">
              1.00 {{ detailsFromCurrency || "EUR" }} = {{
                (((rates[detailsToCurrency] || rates["USD"]) / (rates[detailsFromCurrency] || rates["EUR"])) * 1).toFixed(3)
              }} {{ detailsToCurrency|| "USD" }}
            </div>
        </div>
        <div class="converter-inputs-container">
            <div class="converter-inputs">
                <div class="input-container">
                    <label for="from">From</label>
                    <select id="from" name="from" formControlName="from">
                      <option value="" disabled selected>Select Currency</option>
                      <option *ngFor="let currency of currencies | keyvalue" id={{currency.key}} [value]="currency.key">{{ currency.key }}</option>
                    </select>
                   <!-- will add validation here -->
                  </div>
                <button (click)="swapValues()"><img src="assets/icons/convert.svg" alt="swap-button-icon"/></button>
              
                  <div class="input-container">
                    <label for="to">To</label>
                    <select id="to" name="to" formControlName="to">
                      <option value="" disabled selected>Select Currency</option>
                      <option *ngFor="let currency of currencies | keyvalue" id={{currency.key}} [value]="currency.key">{{ currency.key }}</option>
                    </select>
                    <!-- will add validation here -->
                  </div>
            </div>
              
              <button type="submit" [disabled]="form.invalid">Convert</button>
              <div class="result-details-container">
                  <p>{{ result }} {{detailsToCurrency || "USD"}}</p>
              </div>
        </div>
</form>