.layout-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar-container{
    position: fixed;
    top: 0;
    width: 100%;
}

.footer-container {
    bottom: 0;
    margin-block-start: 3rem;
}

.content-container {
    height: 100%;
    padding-inline: 3rem;
    margin-top: 72px;
    z-index: -1
}