.converter-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-block-end: 2rem;
}

.amount-rate-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conversion-rate {
    font-size: 1.5rem;
    font-weight: bold;
}

.converter-inputs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.converter-inputs {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.converter-inputs button {
    appearance: unset;
    border: none;
    background-color: unset;
    width: 2rem;
}

.converter-container label {
    margin-block-end: 1rem;
    font-weight: bold;
}

.converter-inputs-container > button {
    background-color: #28a745;
    width: 15rem;
    color: #fff;
    padding-block: 0.625rem;
    padding-inline: 1.25rem;
    margin-block: 1rem;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.converter-inputs-container > button:hover {
    background-color: #218838;
}
  
.converter-inputs-container > button:active {
    background-color: #1e7e34;
}

.converter-inputs-container > button:disabled {
    background-color: #d1d1d1;
    color: #767676;
    cursor: not-allowed;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 20rem;
  }
  
  input:hover, select:hover {
    border-color: #66afe9;
  }
  
  input:focus, select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  .result-details-container {
    display: flex;
    align-items: center;
    width: 35%;
  }

  .result-details-container p {
    text-align: center;
    border: 1px solid black;
    padding-inline: 2rem;
    padding-block: 1rem;
    margin-inline-end: 1rem;
    width: 50%;
  }

  .result-details-container a {
    cursor: pointer;
    text-decoration: underline;
  }

  .result-details-container a:hover {
    color: #007bff;
  }

  .result-details-container a.disabled {
    color: #999;
    pointer-events: none;
    text-decoration: none;
  }

  @media only screen and (max-width: 767px) {
    .converter-container {
        display: flex;
        flex-direction: column;
    }

    .converter-inputs{
        display: flex;
        flex-direction: column;
        margin-block-start: 1rem;
    }

    .amount-rate-container{
        gap: 1rem;
    }

    .result-details-container{
        width: 100%;
    }
  }